+++
title = "Printed Robots"
linkTitle = "Printed Robots"

+++

{{< blocks/cover title="Printed Robots" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<h2>Proudly reinventing the wheel!</h2>
	<br />
	<br />
	<br />
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/printed-robots">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><b>Building <i>self balancing robots</i>, which are <i>open source</i></b></p>
	<br />
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
**Printed Robots** builds amazing robots for joy and science.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-youtube" title="Watch our robots on YouTube" %}}
Find new videos on our YouTube channel

[YouTube Channel](https://www.youtube.com/channel/UCi0tz3WQQ31R4zIcqGUUCCw)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter" %}}
Follow us to get incremental updates and insights

[Twitter](https://twitter.com/j2pow)
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Read our Blog" %}}
Find information regarding latest development and upcoming ideas

[Blog](/blog/news)
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Download CAD Models" %}}
Find stl and step files of our robots on github

[Balancing Robot CAD Files](https://github.com/Printed-Robots/balancing_robot/)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Find our Software on Github" %}}
Find the matching software for our robots on github

[Github Organisation](https://github.com/Printed-Robots)
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-book" title="Find Documentation" %}}
Read our documentation

Coming Soon!
{{% /blocks/feature %}}


{{< /blocks/section >}}
